<% if (locals.isLoggedIn) { %>
  <img class="profilePicture" src="<%= currentUser.profilePic %>" alt="">
  <h1 id="head" data-user-name="<%= currentUser.username %>"
  data-user-projects="<%= currentUser.projects%>"><%=currentUser.username%></h1>
  <h3><%=currentUser.email%></h3>
  <ul>
    <% currentUser.projects.forEach(project => { %>
      <li>
        <a href="/projects/<%= project._id %>"><%= project.title %></a>
        <canvas id="canvasid" width="400" height="400" data-canvas-json="<%= JSON.stringify(project.canvasObject) %>"></canvas>
        <form method="POST" action="/projects/<%= project.id %>">
          <input type="hidden" name="_method" value="DELETE">
          <button class="btn btn-danger">Delete</button>
        </form>
      </li>
    <% }) %>
  </ul>
  <a class="nav-link" href="/logout">Logout</a>
  <% } else { %>
    <h1>User Profile</h1>
    <h3>You are not Logged In </h1>
    <a class="nav-link" href="/login">Log In</a>
    <a class="nav-link" href="/register">Register</a>
  <% } %>
