<% if (locals.isLoggedIn) { %>
  <img class="profilePicture" src="<%= currentUser.profilePic %>" alt="">
  <h1><%=currentUser.username%></h1>
  <h3><%=currentUser.email%></h3>
  <ul>
    <% currentUser.projects.forEach(project => { %>
      <li><a href="/projects/<%= project._id %>"><%= project.title %></a></li>
    <% }) %>
  </ul>
  <a class="nav-link" href="/logout">Logout</a>
  <% } else { %>
    <h1>User Profile</h1>
    <h3>You are not Logged In </h1>
    <a class="nav-link" href="/login">Log In</a>
    <a class="nav-link" href="/register">Register</a>
  <% } %>
