<% if (locals.isLoggedIn) { %>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <img class="profilePicture" src="<%= currentUser.profilePic %>" alt="">
      <h1 id="head" data-user-name="<%= currentUser.username %>"
      data-user-projects="<%= currentUser.projects%>"><%=currentUser.username%></h1>
      <h5 id="head-child"><%=currentUser.email%></h5>
    </div>
  </div>

  <% if (currentUser.projects.length === 0) { %>
    <h1 class="noProjectsLabel"> You have not made any projects yet 😢</h1>
    <h3 class="noProjectsSubLabel"> (you lazy ass)</h3>
  <% } %>

  <ul>
    <% currentUser.projects.forEach(project => { %>
      <li>
        <div class="thumbnailContainer">
          <a class="thumbnailLink" href="/projects/<%= project.id %>"><%= project.title %></a>
          <canvas class="thumbnailCanvas" id="canvasid" width="400" height="400" data-canvas-json="<%= JSON.stringify(project.canvasObject) %>"></canvas>
          <button class="downloadLink" data-project-canvas="<%= JSON.stringify(project.canvasObject) %>">DOWNLOAD</button>
          <form method="POST" action="/projects/<%= project.id %>">
            <input type="hidden" name="_method" value="DELETE">
            <button class="deleteLink">DELETE</button>
          </form>
        </div>
      </li>
    <% }) %>
  </ul>
  <% } else { %>
    <h1>User Profile</h1>
    <h5>You are not Logged In </h5>
    <a class="nav-link" href="/login">Log In</a>
    <a class="nav-link" href="/register">Register</a>
  <% } %>
